:root {
  --mainBackground: #343433;
  --background: #282828;
  --text: #fff;
}

body {
  background-color: var(--mainBackground) !important;
  color: var(--text) !important;
}

body .section_header {
  background-color: var(--background) !important;
  border-bottom: none !important;
  border: 1px solid var(--background) !important;
  color: var(--text) !important;
}

body .section_desc {
  background-color: var(--background) !important;
  border-top: none !important;
  border: 1px solid var(--background) !important;
  color: var(--text) !important;
}

body .reset {
  color: var(--text) !important;
}
