:root {
  --font: "Montserrat", sans-serif;
  --background-grey: rgb(29, 29, 29);
  --black: rgb(0, 0, 0);
  --dark-grey: rgb(22, 22, 22);
  --grey: rgb(51, 51, 51);
  --red: rgb(237, 34, 36);
  --white: rgb(255, 255, 255);
}

#profile-image-on-trakt * {
  color: var(--white) !important;
  font-family: var(--font) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

#profile-image-on-trakt {
  background: var(--background-grey) !important;
}

#profile-image-on-trakt .config_header {
  font-size: 34px !important;
  line-height: 1.1 !important;
  text-shadow: 0 0 20px var(--black) !important;
}

#profile-image-on-trakt .section_header_holder {
  background: var(--dark-grey) !important;
  border: 1px solid var(--grey) !important;
  margin-bottom: 1em !important;
}

#profile-image-on-trakt .section_header {
  background: var(--grey) !important;
  border: 1px solid var(--grey) !important;
  padding: 8px !important;
  text-align: left !important;
  text-transform: uppercase !important;
}

#profile-image-on-trakt .config_var {
  align-items: center !important;
  display: flex !important;
  margin: 0 !important;
  padding: 15px !important;
}

#profile-image-on-trakt .field_label {
  margin-left: 6px !important;
}

#profile-image-on-trakt input[type="button"],
#profile-image-on-trakt button {
  background: var(--grey) !important;
  border: 1px solid transparent !important;
  padding: 10px 16px !important;
}

#profile-image-on-trakt input[type="button"]:hover,
#profile-image-on-trakt button:hover {
  filter: brightness(85%) !important;
}

#profile-image-on-trakt_buttons_holder button {
  background-color: var(--red) !important;
}

#profile-image-on-trakt .reset {
  margin-right: 10px !important;
}
