:root {
  --mainBackground: #343433;
  --background: #282828;
  --text: #fff;
}

#trakt-config {
  background-color: var(--mainBackground);
  color: var(--text);
}

#trakt-config .section_header {
  background-color: var(--background);
  border-bottom: none;
  border: 1px solid var(--background);
  color: var(--text);
}

#trakt-config .section_desc {
  background-color: var(--background);
  border-top: none;
  border: 1px solid var(--background);
  color: var(--text);
}

#trakt-config .reset {
  color: var(--text);
}
